.menu {
	color: white;
	height: 90px;
	background-color: #18B2E6;
}

.icone {
	height: 80px;
}


.card {
	background-color: #FEFDDE; 
	width: 33.33%;
}

#conteudo {
	height: 500px;
	background-color: #FEFDDE; 
}



.rodape {
	height: 400px;
	background-color: #F2A7B5;
	color: white;
}

/*Ícones Redes Sociais*/
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Estado Hover */
.fa:hover {
  opacity: 0.7;
  color: red;

}



